[submodule "dms"]
	path = dms
	url = https://github.com/pagelines/DMS.git
[submodule "sections/flipper"]
	path = sections/flipper
	url = https://github.com/pagelines/flipper.git
[submodule "sections/docker"]
	path = sections/docker
	url = https://github.com/pagelines/docker.git
[submodule "sections/hero"]
	path = sections/hero
	url = https://github.com/pagelines/hero.git
[submodule "sections/icallout"]
	path = sections/icallout
	url = https://github.com/pagelines/icallout.git
[submodule "sections/maps"]
	path = sections/maps
	url = https://github.com/pagelines/maps.git
[submodule "sections/masonic"]
	path = sections/masonic
	url = https://github.com/pagelines/masonic.git
[submodule "sections/masthead"]
	path = sections/masthead
	url = https://github.com/pagelines/masthead.git
[submodule "sections/navi"]
	path = sections/navi
	url = https://github.com/pagelines/navi.git
[submodule "sections/pageheader"]
	path = sections/pageheader
	url = https://github.com/pagelines/pageheader.git
[submodule "sections/popshot"]
	path = sections/popshot
	url = https://github.com/pagelines/popshot.git
[submodule "sections/popthumbs"]
	path = sections/popthumbs
	url = https://github.com/pagelines/popthumbs.git
[submodule "sections/propricing"]
	path = sections/propricing
	url = https://github.com/pagelines/propricing.git
[submodule "sections/quickcarousel"]
	path = sections/quickcarousel
	url = https://github.com/pagelines/quickcarousel.git
[submodule "sections/quickslider"]
	path = sections/quickslider
	url = https://github.com/pagelines/quickslider.git
[submodule "sections/rapidtabs"]
	path = sections/rapidtabs
	url = https://github.com/pagelines/rapidtabs.git
[submodule "sections/revslider"]
	path = sections/revslider
	url = https://github.com/pagelines/revslider.git
[submodule "sections/scrollspy"]
	path = sections/scrollspy
	url = https://github.com/pagelines/scrollspy.git
[submodule "sections/secondnav"]
	path = sections/secondnav
	url = https://github.com/pagelines/secondnav.git
[submodule "sections/sharebar"]
	path = sections/sharebar
	url = https://github.com/pagelines/sharebar.git
[submodule "sections/starbars"]
	path = sections/starbars
	url = https://github.com/pagelines/starbars.git
[submodule "sections/testimonials"]
	path = sections/testimonials
	url = https://github.com/pagelines/testimonials.git
[submodule "sections/socialinks"]
	path = sections/socialinks
	url = https://github.com/pagelines/socialinks.git
