/* Theme Colors */

@whp-red: #ea4242;
@whp-blue: #21568C;

.whp-red{
	color: #ea4242;
}
.whp-blue{
	color: #21568C;
}

/* Theme Buttons */

.whp-red-btn{

} 
`	

/*
 * Responsive
 ***********************/ 

@media screen and (max-width:500px){
	
	/* Responsive Layout */
		#page .pagelines-content, #page .plx-sidebar, #page .plx-archive-grid{
			float: none;
			width: auto;
		}
		
		#page .pagelines-sidebar{
			float: none;
			width: auto
			ul li{
				margin: 2px 5px;
				display: inline-block;
				a{
					display: inline-block;
				}
			}
		}
}

@media screen and (max-width:850px) { 
	body #page .hero-text{
		clear: both; 
		padding-top: 10px;
	}

}

@media screen and (max-width:600px) { 
	#page {
		.overview-media, .overview-content{
			float: none;
			width: auto;
		}
	}	
}
