/* NotiBar Section Spacing*/
body.admin-bar .whpnotibar{
	margin-top: 30px;
}

/* Theme Headings */
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

/* Theme Colors */

.whp-red{
	color: #ca2129;
}
.whp-blue{
	color: #0F4F89;
}
/* Theme Fills */
.whp-fill{
	color: #fff;
	&.whp-red{
	    background-color: #ca2129; 
	}
	&.whp-blue{
	    background-color: #0F4F89; 
	}
	&.whp-yellow{
	    background-color: #ffc74a; 
	}
	&.whp-silver{
	    background-color: #f9f9f9; 
	}
	&.whp-cyan{
	    background-color: #82cff1;
	}	
}

/* Theme Buttons */
.whp-btn{
	padding: 8px 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: @headingsFontFamily;
	line-height: 20px;
	letter-spacing: 1.5px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.30);
	border-bottom: 1px solid rgba(0,0,0,0.30);
	.border-radius(4px);
	.box-shadow(0 1px 3px rgba(0,0,0,0.6));
	color: #fff;	

	&.whp-red{
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a9171e), color-stop(1, #ca2129));
	    background-image: -moz-linear-gradient(center bottom, #a9171e 0%,  #ca2129 100%);
	    background-color: #ca2129; /* Fallback */
	    &:hover, &:focus,&:active{
	    	background: #ca2129; 
	    }
	}
	&.whp-yellow{
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e5aa29), color-stop(1, #ffc74a));
	    background-image: -moz-linear-gradient(center bottom, #e5aa29 0%,  #ffc74a 100%);
	    background-color: #ffc74a; /* Fallback */
	    &:hover, &:focus,&:active{
	    	background: #ffc74a;
	    }
	}
	&.whp-silver{
		color: #0F4F89;
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d2d2d2), color-stop(1, #f9f9f9));
	    background-image: -moz-linear-gradient(center bottom, #d2d2d2 0%,  #f9f9f9 100%);
	    background-color: #f9f9f9; /* Fallback */
	    &:hover, &:focus,&:active{
	    	background: #f9f9f9;
	    }
	}
	&.whp-cyan{
	    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3aa9e2), color-stop(1, #82cff1));
	    background-image: -moz-linear-gradient(center bottom, #3aa9e2 0%,  #82cff1 100%);
	    background-color: #82cff1; /* Fallback */
	    &:hover, &:focus,&:active{
	    	background: #82cff1;
	    }
	}		
}



.widget .widget-title{
	font-family: @baseFontFamily;
	border-bottom: 1px solid #ececec;
}

/*
 * Responsive
 ***********************/ 

@media screen and (max-width:500px){
	
	/* Responsive Layout */
		#page .pagelines-content, #page .plx-sidebar, #page .plx-archive-grid{
			float: none;
			width: auto;
		}
		
		#page .pagelines-sidebar{
			float: none;
			width: auto
			ul li{
				margin: 2px 5px;
				display: inline-block;
				a{
					display: inline-block;
				}
			}
		}
}

@media screen and (max-width:850px) { 
	body #page .hero-text{
		clear: both; 
		padding-top: 10px;
	}

}

@media screen and (max-width:600px) { 
	#page {
		.overview-media, .overview-content{
			float: none;
			width: auto;
		}
	}	
}
