@theme-dark: #23313A;

h1, h2, h3, h4, h5{
	font-weight: normal;
	color: #939393;
}

p{
	font-size: 20px;
	line-height: 1.55em;
}

.bg-white{
	background: #fff;
}

/* Theme Header */
#header{
	
	.section-navbar{
		.navbar{
			
		 	.nav-btn-navbar{
				color: #fff;
				width: 100%;
				background: @theme-dark;
			}
			.navline li {
				border-right:1px solid #5d5d5d; 
				border-left:1px solid #929292; 
				border-bottom:1px solid #575757; 
				border-top:1px solid #797979;	
			    
			
			.navline li:first-child {
				.border-radius(4px 0 0 4px);
			    border-left:none;
			}
				
				
				a{
					font-size: 14px;
					font-weight: 600;
					text-shadow: 0 -1px 3px #202020;
					color: #fff;
					background: none;
					&:hover{
						color: #dfdfdf;
						border: none;
					}
				}
				li.current-menu-item a{
					color: #fff;
					background: @theme-dark;
					&:hover{
						color: #fff;
					}
				}
				li a{
					color: #333;
					
					&:hover{
						color: #fff;
						background: @pl-link;
						text-shadow: none;
					}
				}
			}	
		}
	}
	 
	
	
	.section-simple_nav{
		margin-top: 15px;
		
		li a{
			font-size: 16px;
			font-weight: 600;
			color: #fff;
			text-transform: uppercase;
			
			&:hover{
				color: #dfdfdf;
			}
		}
	}
}

/* Theme Highlight */
.section-popthumbs{
	h4{
		font-size: 30px;
		font-weight: 600;
		color: @theme-dark;
	}
}

/* Theme Starbars/MediaBox */
.section-starbars, .section-mediabox{
	h3{
		font-size: 30px;
		font-weight: 600;
		color: @theme-dark;
	}
	p{
		font-size: 14px;
		line-height: 24px;
	}
}


/* Theme Highlight */
.section-highlight{
	h2.highlight-head{
		margin: 0 0 10px 0;
		font-size: 30px;
		font-weight: 600;
		color: @theme-dark;
	}
	.highlight-subhead{
		font-size: 14px;
		line-height: 24px;
	}
}

/* Theme iCallout */
.section-icallout{
	.icallout-head{
		color: @theme-dark;
	}
	.icallout-action{
		font-weight: 600;
		background: @pl-link;
		padding-left: 40px;	
		padding-right: 40px;		
		&:hover{
			background: @theme-dark;
		}
	}
}

/* Theme iBox */
.section-ibox{
	.ibox{
		.ibox-text h4{
			font-size: 20px;
			font-weight: 600;
			color: @theme-dark; 
		}
		.ibox-desc{
			font-size: 14px;
			line-height: 24px;
		}

		.ibox-media{
			text-align: center;

			.ibox-icon-border{
				&.media-type-icon {
					color: #fff;
					background: @pl-link;
					.border-radius(500px);
					width: 45px;
					height: 45px;
					line-height: 53px;
					
					i{
						font-size: 20px;

						display: inline-block;
					}
					&:hover{
						background: @theme-dark;
						i{
							color:@baseColor;
						}
					}
				}
			}

		}
		&.left-aligned{
			text-align: left;
			.ibox-icon-border{
				&.media-type-icon {
					width: 40px;
					height: 40px;
					line-height: 44px;
					i{
						font-size: 20px;
					}
				}
			}
		}
	}
}

/* Theme Flipper */
.section-flipper{
	.flipper-title, .flipper-post-title{
		text-transform: none!important;
		color: @theme-dark;
		font-size: 20px;
		font-weight: normal;
		line-height: 26px;
	}
	.flipper-post-title{
		font-size: 18px;
		font-weight: 600;
		color: @theme-dark;
	}
	.flipper-next, 
	.flipper-prev {
		background: @theme-dark;
		color: #fff;
		
		&:hover{
			background: @pl-link;
		}
	}
}

/* Theme Hero */
.section-hero{
	.pl-hero-wrap{
		.pl-hero{
			h1{
				font-weight: 600;
				font-size: 30px;
				color: @theme-dark;
			}
			p{
				font-size: 14px;
				line-height: 24px;
			}
			.btn-primary{
				background: @pl-link;
				&:hover{
					background: @theme-dark;
				}
			}
		}
	}
}

/* Theme Textbox */
.section-textbox{
	strong{
		font-size: 30px;
		font-weight: 600;
		color: @theme-dark;
	}
	p{
		strong{
			font-weight: 600;
		}
	}
}

/* Theme Posts */
.article-wrap{
	background: #fff;
	margin-bottom: 50px;
	.box-shadow(0 0 5px #eaeaea);
	
	.author-tag{
		margin-top: 20px;
	}
	
	.full_img, .post-meta .img{
		margin: 0;
		width: 100%;
	}
	
	.post-header{
		
		h1, h2{
			font-size: 30px;
			font-weight: 600;
			color: @theme-dark;
			padding: 30px 30px 0 30px;
		}
		.metabar{
			color: @pl-text;
			font-size: 10px;
			padding: 10px 30px 0 30px;
			a{
				font-weight: 600;
				color: @pl-text;
				&:hover{
					color: @pl-link;
				}
			}
		}
		a.continue_reading_link{
			color: #fff;
			background: @theme-dark;
			margin-left: 30px;
			padding: 5px 10px;
			font-weight: 600;
			.border-radius(4px);
			
			&:hover{
			background: @pl-link;
			.transition(all .2s linear);
			}
		}
	}
	.post-excerpt, .entry_content{
		font-size: 14px;
		line-height: 1.65em;
		padding:0 30px 30px 30px;
		p{
			font-size: 14px;
			line-height: 1.65em;
		}
		.note{
			color: @pl-text;
			text-transform: none;
		}
	}
}
/* Theme Post Author */
.section-postauthor{
	background: #fff;
	
	.author-info{
		.author-note, h2{
			color: @theme-dark;
			font-weight: 600;
		}
		h2{
			font-size: 20px;
		}
		p{
			font-size: 14px;
		}
	}
} 

/* Theme Comments */
.section-wp-comments{
	h5{
		color: @theme-dark;
		font-weight: 600;
		font-size: 30px;
	}	
	.comment-author{
		color: @theme-dark;
	}
	p{
		font-size: 14px;
	}
	h3.comment-reply-title{
		color: @theme-dark;
		font-weight: 600;
		font-size: 30px;
	}
	#submit{
		color: #fff;
		background: @theme-dark;
		padding: 5px 10px;
		font-weight: 600;
		border: none;
		text-shadow: none;
		.border-radius(4px);
		.box-shadow(none);
		
		&:hover{
		background: @pl-link;
		.transition(all .2s linear);
		}
	}
}

/* Theme Primary Sidebar */
.section-sb_primary{
	.widget-pad{
		padding: 0;
	}
	h2.widgettitle, h3.widget-title{
		color: @theme-dark;
		font-weight: 600;
	}
}

/* Theme RapidTabs */
.section-rapidtabs{
	.ui-state-active{
		color: @theme-dark;
	}
	h3.widget-title{
		color: @theme-dark;
		font-weight: 600;
		font-size: 20px;
	}
}

/* Theme Pagination */
.section-pagination{
	a{
			color: #fff;
			background: @theme-dark;
			margin-left: 50px;
			padding: 5px 10px;
			font-weight: 600;
			.border-radius(4px);
			
			&:hover{
			background: @pl-link;
			.transition(all .2s linear);
			}
	}
}

/* Theme Quickslider */
.section-quickslider{
	.tp-bullets	{
		&.simplebullets.round .bullet{
			background: #fff;
			&.selected,
			&:hover{
				border: 2px solid @pl-link;
				background: @pl-link;
			}
		}
	}
	
	.tp-bannertimer{
		background: @pl-link;
	}
}

/* Theme RevSlider */
.section-revslider{
	.fslider{
		background: #fff;
		.border-radius(3px);
		.box-shadow(0 1px 2px rgba(0,0,0,0.3));
	}
	
	.flex-control-nav li{
		a{
			background: @theme-dark;
			
			.active{
				background: @pl-link;
			}
		}
	
	} 
	.flex-direction-nav li{
		a{
			width: 25px;
			height: 25px;
			background-color: @theme-dark;
			background-size:50px 25px;
			.border-radius(3px);
			
			&:hover{
				background-color: @pl-link;
			}	
		}
		a.prev{
			background-position: 0 0;
			
		}
		a.next{
			background-position: 25px 0;
		}
	}
}

/* Theme Pricing */
.section-propricing{
	.pp-plan{
		background: #fff;
		.border-radius(0);
		.box-shadow(none);
		.pp-header{
			text-transform: uppercase;
			font-weight: 600;
			background: none;
		}
		.pp-attributes{
			.pp-link{
				a{
					.border-radius(0);	
				}
			}
		}
		
	}
}

/* Theme Footer */
.footer{
	color: #f4f4f4;
	background: #f6f6f6;
}

/*
 * Responsive
 ***********************/ 

@media screen and (max-width:500px){
	
	/* Responsive Layout */
		#page .pagelines-content, #page .plx-sidebar, #page .plx-archive-grid{
			float: none;
			width: auto;
		}
		
		#page .pagelines-sidebar{
			float: none;
			width: auto
			ul li{
				margin: 2px 5px;
				display: inline-block;
				a{
					display: inline-block;
				}
			}
		}
}

@media screen and (max-width:850px) { 
	body #page .hero-text{
		clear: both; 
		padding-top: 10px;
	}

}

@media screen and (max-width:600px) { 
	#page {
		.overview-media, .overview-content{
			float: none;
			width: auto;
		}	}	
}
