 .section-whpslider{

.pl-section-pad {
	padding-top: 0;
	padding-bottom: 0;
}

.flex-control-paging{
	bottom: 10px;
	li a{
		background: none;
		border: 1px solid #fff;
		box-shadow: none;

		&:hover,
	 	&.flex-active{
	 		background: #fff;
	 	}
	 }
}

.whp-slider-wrap .flexslider {
  width: auto;
  height: auto;
  margin: auto;
  position: relative;

  .box-shadow(inset 0 0 40px #0f2847);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #071c3b), color-stop(1, #79a7cb));
  background-image: -moz-linear-gradient(center bottom, #071c3b 0%,  #79a7cb 100%);
  background-color: #071c3b; /* Fallback */
}
.whp-slider-wrap .flexslider .slides {
  overflow: hidden;
}
.whp-slider-wrap .flexslider img {
  width: 100%;
  display: block;
}

.whp-slider-wrap .flex-direction-nav li a {
  display: block;
  
  width: 35px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 3;
  cursor: pointer;
  i{
  		color: #fff;
  		z-index: 150;
  }
}
.whp-slider-wrap .flex-direction-nav li a:hover {
  background-color: #1d76e4;
}
.whp-slider-wrap .flex-direction-nav li a.flex-next {
  background-position: -70px center;
  right: 0;
}
.whp-slider-wrap .flex-direction-nav li a.flex-prev {
  background-position: 9px center ;
  left: 0;
}
.whp-slider-wrap{
  
  
  li.slide-left{
  	.slide-description{
  		float: left;
  		padding: 0 2.5% 0 4%;
  	}
  	.slide-image {
	  	float: right;
	}
  }

  li.slide-right{
  	.slide-description{
  		float: right;
  		padding: 0 4% 0 2.5%;
  	}
  	.slide-image {
	  	float: left;
	}
  }
}
.whp-slider-wrap .flex-control-nav {
  width: 100%;
}
.whp-slider-wrap .slide-image {
  width: 65.4%;
}
.whp-slider-wrap .slide-description {
  width: 28%;
 	
 	.ray{
		margin-top: 35%;
 	}
}
.whp-slider-wrap .slide-description .title {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  margin: 10px 0;
}
.whp-slider-wrap .slide-description p {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
}

	
	
	@media (max-width: @resPortraitTablet) {
		.whp-slider-wrap .flex-control-nav {
		  width: 100%;
		}
		.whp-slider-wrap .slide-image {
		  width: 100%;
		  float: left;
		}
		.whp-slider-wrap .slide-description {
		  display: none;
		}
	}
	


}


